  tr:hover {
    background-color: #f1f1f1;
  }
  
  td button {
    margin-right: 5px;
    background-color: #0f8adb; 
  }
  
  td button:last-child {
    background-color: #dc3545; 
  }
  
.form-buttons .cancel_btn {
  color: #f9f9f9;
  background-color: #d14735;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-buttons .cancel_btn:hover {
  background-color: #9c2712; /* une nuance plus foncée de bleu */
  opacity: 0.95;
}
