.icon-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px 10px;
  margin-right: 8px;
  font-size: 16px;
  border-radius: 6px;
  transition: color 0.2s, transform 0.2s, background-color 0.2s;
}

/* Hover général */
.icon-button:hover {
  transform: scale(1.1);
}

/* Créer */
.icon-button--success {
  background-color: #d6ec0f;
}

.icon-button--success:hover {
  color: #396cad;
 background-color: #a0c51b;
}


/* Modifier */
.icon-button--edit {
  background-color: #143D60;
}

.icon-button--edit:hover {
  background-color: #143D60;
}

/* Supprimer */
.icon-button--danger {
  background-color: #f52828;
}

.icon-button--danger:hover {
  background-color: #f52828;
}

