.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap; 
}

.search-input-wrapper {
  position: relative;
  flex: 1 1 250px;
  max-width: 300px;
}

.search-input-wrapper input {
  width: 100%;
  padding: 10 30px 0 10px; 
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.clear-input-icon {
  position: absolute;
  right: 8px;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 18px;
  user-select: none;
}

.clear-input-icon:hover,
.clear-input-icon:focus {
  color: #000;
  outline: none;
}

.add-btn {
  height: 36px;
  padding: 0 15px;
  background-color: #1871d8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
  box-sizing: border-box;
}

.add-btn:hover {
  background-color: #0f53a3;
}
